@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    width: 400px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
}
